<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Views</title>
  <meta name="description" content="">
</head>
<body>

    <div id="container">
        <button>Load</button>
        <ul id="list"></ul>
    </div>

    <script id="list-template" type="text/html">
        <li><a href="<%= url %>"><%= text %></a></li>
    </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="../libs/underscore.min.js"></script>
  <script src="../libs/backbone.min.js"></script>
  <script>
      $(function() {
var model = new Backbone.Model({
    data: [
        { text: 'Google', url: 'http://google.com' },
        { text: 'Facebook', url: 'http://facebook.com' },
        { text: 'Youtube', url: 'http:youtube.com' }
    ]
    });

var View = Backbone.View.extend({
    initialize: function() {
    },
    template: _.template($("#list-template").html()),
    el: '#container',
    events: {
        'click button' : 'render'
        },
    render: function() {
        var _this = this;
        _.forEach(this.model.get('data'), function(site){
            var li = _this.template(site);
            _this.$el.append(li);
        });
    }
});

var view = new View({model: model});
});

  </script>
</body>
</html>
