<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="todo.css">
</head>
<body>
  <div id="todo">
  </div>
  <script type="text/template" id="item-template">
    <div>
      <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
      <%= title %>
    </div>
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="libs/underscore.min.js"></script>
  <script src="libs/backbone.min.js"></script>
  <script src="todo.js"></script>
</body>
</html>
